version:        "3.8"

services:
        mariadb:
                build: ./requirements/mariadb
                container_name: mariadb
                env_file:
                        - .env
                volumes:
                        - /home/caide-so/data/mariadb:/var/lib/mysql
                networks:
                        - inception
                restart: always

networks:
        inception:
                driver: bridge
